.commentContainer{
    border-radius: 32px;
    height:auto;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.commentBox{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.commentBtn{
    margin-top: 30px;
}
.commentInput {
    width: 100%;
    min-height: 40px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    overflow-y: visible; 
    box-sizing: border-box;
  }
  
  .commentInput:focus {
    outline: none;
  }
  .comment{
    display: flex;
    width: 100%;
    background-color:#a3c1f85c;
  }

  .commentsList {
    max-height: 200px; 
    overflow-y: auto; 
    width: 40%;
    margin-bottom: 1rem;
  }
  
  .fetchedComment {
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    background-color: #caede38a;

  }
  
  .fetchedComment:nth-child(odd) {
    background-color:  #a3c1f849;

  }
  @media all and (max-width:450px){
  .commentContainer{
    margin-left: 30px;
    margin-right: 30px;
}
.commentBox{
    width: 100%;
}
.commentsList {
    width: 100%;
  }
  }